<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Mira las empresas donde trabaje</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Dicsys</h3>
                <p>Analista Soporte DataWarehouse - Cliente Claro Argentina</p>
                <p>Desarrollador Big Data - Cliente Claro Argentina</p>
                <a class="orange" target="__black" href="https://www.dicsys.com/">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Claro Argentina</h3>
                <p>Desarrollador Big Data - Cliente Claro Argentina</p>
                <a class="orange" target="__black" href="https://www.claro.com.ar/">Link aqui</a>
            </div>
            <div class="card third">
                <h3>NaranjaX</h3>
                <p>Data Engineer</p>
                <a class="orange" target="__black" href="https://www.naranjax.com/">Link aqui</a>
            </div>
        </div>
    </div>
</div>