<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded"> 
                <h1>Desarrollo sitios web y pipelines para ingesta de datos</h1>
                <p>Constantemente me encuentro aprediendo nuevas tecnologias. Esta web la construi desde cero con Python y Flask.</p>
            </div>
            <div class="right padded">
                <h1>Podes contactarme!</h1>
                <p>Solo enviame un mail <a class="orange" href="#contacto">aqui</a></p>
            </div>
        </div>
    </div>
</div>